* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(5, auto);
    /* grid-template-rows: 1, 100px; */
    /* justify-content: center; */
    align-items: center;
    position: fixed; 
    background-color: rgb(167, 1, 1);
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
  }

.navbarButton {
    text-align: center;
    justify-content: space-evenly;
    margin-top: 0px;
    padding-top: 0px;
  }

.container > div {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 2em;
    color: #ffeead;
}
.container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    /* grid: 50px; */
}
body {
    margin-top: 30px;
    display: center;
    line-height: 1.5;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1 {
    font-size: 18px;
    height: auto;
    padding: 25px;
    text-align: center;
    background-color: lightgrey;
}
.main {
    font-size: 15px;
    margin: 0px;
}
.main {
    font-size: 15px;
    margin: 0px;
}
.subHead {
    font-size: 15px;
    line-height: 24px;
    margin: 25px;
}
p {
    color: black;
    font-size: 15px;
    line-height: 23px;
    padding: 5px;
}
.name {
    font-size: 15px;
}

h3 {
    color: rgb(167, 1, 1);
    font-size: 15px;
    margin: 25px 10px 0px 10px;
}
h2 {
    position: relative;
    color: rgb(167, 1, 1);
    font-size: 15px;
    margin: 5px 2px 0px 2px;
    /* display: inline; */
}
.homeLeft {
    /* margin-left: 15px; */
    grid-column: 1/-1;
    grid-row: 1fr;
    justify-content: left;
}
.homeRight {
    justify-content: right;
    margin-right: 15px;

}
.white {
    background-color: rgb(255, 255, 255);
    
}
.homeImage {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* left: 0px; */
    margin-top: 0px;
    width: 100%;
    height: 600px;
    /* display: inline-block; */
    background: url(../images/main-EK0B4158.jpg);
    /* opacity: 0.7; */
    background-position: top center;
    background-size: 100% 600px;
    background-size: contain;
    background-repeat: no-repeat;

}
.homeImage > h2  {
    margin: 30px 0px 0px 20px;
    text-align: left;
    text-shadow: 0px 0px 10px white, 1px 1px 2px white;

}
.homeColor {
    /* color: rgb(167, 1, 1; */
    color: rgb(63, 63, 63);

}
.homeImageColorText {
    /* color: rgb(63, 63, 63); */
    color: rgb(167, 1, 1);
    margin: 0px;
}
.homeImage > h2:nth-child(2) {
    text-align: left;
    margin: 10px 0px 0px 50px;
}
.containerSkiSchool {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 3, auto;
    grid-gap: 10px;
    margin: auto;
    vertical-align: center;
    padding: 20px;
}
h3.skiSchool {
    color: rgb(167, 1, 1);
    font-size: 15px;
    margin: 5px 10px 10px 10px;
    line-height: 20px;
}
.ssLadies {
    grid-column: 1/2;
    background-color: rgba(211, 211, 211, 0.349);
    padding: 150px 25px 25px 25px;
    line-height: 30px;
    border-radius: 10px;
    
}
.ssMasters {
    grid-column: 2/-1;
    background-color: rgba(211, 211, 211, 0.349);
    padding: 25px 25px 25px 25px;
    line-height: 30px;
    border-radius: 10px;

}
.ssAllSat {
    grid-column: 1/2;
    background-color: rgba(211, 211, 211, 0.349);
    padding: 25px;
    line-height: 30px;
    border-radius: 10px;

}
.ssAllSun {
    grid-column: 2/-1;
    background-color: rgba(211, 211, 211, 0.349);
    padding: 25px;
    line-height: 30px;
    border-radius: 10px;

}
.ssRace {
    grid-column: 1/-1;
    background-color: rgba(211, 211, 211, 0.349); 
    padding: 25px;
    line-height: 30px;
    border-radius: 10px;

}
h4 {
    font-size: 15px;
    margin: 10px;
}

.mainLeft {
    flex-direction: column;
    grid-column: 1/2;
    background-color: rgba(211, 211, 211, 0.349);
    padding: 25px;
    line-height: 30px;
    border-radius: 10px;
}
.mainRight {
    flex-direction: column;
    grid-column: 2/-1;
    background-color: rgba(211, 211, 211, 0.349);
    padding: 25px;
    line-height: 30px;
    border-radius: 10px;
}
.mainWhole {
    flex-direction: column;
    grid-column: 1/-1;
    background-color: rgba(211, 211, 211, 0.349);
    padding: 25px;
    line-height: 30px;
    border-radius: 10px;
}
img.topImage {
    width: 100%;
    height: auto;
}
.containerTickets {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-gap: 0px;
    margin: 0px;
    /* grid: 50px; */
}
.subHeadTickets {
    font-size: 15px;
    line-height: 20px;
    margin: 15px 15px 25px 15px;
}
h1.tickets{
    background-color: rgb(167, 1, 1);
    color: white;
    font-size: 18px;
    margin-top: 15px;
}
p.mainTickets {
    font-size: 15px;
    margin: 20px 5px 0px 5px;
    font-weight: bold;
}
h3.tickets {
    font-size: 15px;
    border-bottom: 2px solid lightgrey;
    margin-top: 35px;
}
p.inner {
    font-size: 15px;
    font-weight: normal;
    padding: 5px 20px 5px 20px;
}
h2.cond {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}
.containerCond {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    /* grid-gap: 10px; */
    /* grid: 50px; */
}

@media (min-width: 500px) {
    .navbar {
        height: 50px;
    }
    .navbar a {
        font-size: 18px;
    }
    .container {
        height: 800px;
        grid-gap: 25px;
        padding: 0px;
    }
    .containerSkiSchool {
        grid-gap: 25px;
        margin: auto;
        padding: 25px;
    }
    .homeImage {
        height: 900px;
        margin-top: 20px;
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
        margin-top: 50px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 18px;
    }
    h4.price {
        font-size: 18px;
        line-height: 18px;
        margin: 10px 0px 0px 0px;
    }
    p {
        font-size: 18px;
    }
    .subHead {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 25px;
        padding: 25px;
    }
    p.subHead {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
        padding: 5px;
    }
    .subHeadTickets {
        font-size: 18px;
        line-height: 25px;
    }
    .main {
        font-size: 18px;
    }
    .mainTickets {
        font-size: 18px;
    }
    .name {
        font-size: 18px;
    }
    h3.skiSchool {
        font-size: 18px;
    }
    .ssLadies {
        padding: 100px 25px 25px 25px;
        
    }
    .mainLeft {
        font-size: 18px;
    }
    .mainRight {
        font-size: 18px;
    }
    .mainWhole {
        font-size: 18px;
    }
    /* h1.tickets{
        font-size: 20px;
    }
    h3.tickets {
        font-size: 20px;
    } */
    .subHeadTickets {
        font-size: 18px;
        line-height: 20px;
        margin: 25px 15px 25px 15px;
    }
    h1.tickets{
        background-color: rgb(167, 1, 1);
        color: white;
        font-size: 20px;
        margin-top: 25px;
    }
    p.mainTickets {
        font-size: 18px;
        margin: 20px 5px px 5px;
        font-weight: bold;
    }
    h3.tickets {
        font-size: 20px;
        border-bottom: 2px solid lightgrey;
        margin-top: 35px;
    }
    p.inner {
        font-size: 18px;
        font-weight: normal;
        padding: 5px 20px 5px 20px;
    }
    p.condMain {
        font-size: 20px;
        line-height: 28px;
    }
    h2.cond {
        font-size: 20px;
        margin-bottom: 5px;
    }
}
@media (min-width: 1000px) {
    .navbar {
        height: 50px;
    }
    .navbar a {
        font-size: 25px;
    }
    .container {
        height: 800px;
        margin-top: 20px;
        grid-gap: 50px;
    }
    .containerSkiSchool {
        grid-gap: 25px;
        padding: 25px;
    }
    .homeImage {
        height: 1000px;
        margin-top: 0px;
        flex-direction: column;
    }
    h2.homeColor {
        font-size: 30px;
        margin-left: 80px;
    }
    .homeImage > h2:nth-child(2) {
        margin: 75px 20px 20px 120px;
        /* margin-left: 120px; */
    }
    h1 {
        font-size: 25px;
        margin-top: 50px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
        line-height: 35px;
    }
    
    p.subHead {
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 25px;
    }
    .subHeadTickets {
        font-size: 20px;
        line-height: 30px;
    }
    .main {
        font-size: 20px;
    }
    .mainTickets {
        font-size: 20px;
    }
    .name {
        font-size: 20px;
    }
    h3.skiSchool {
        font-size: 24px;
    }
    .ssLadies {
        padding: 120px 25px 25px 25px;
        
    }
    .mainLeft {
        font-size: 20px;
    }
    .mainRight {
        font-size: 20px;
    }
    .mainWhole {
        font-size: 20px;
    }
    .subHeadTickets {
        font-size: 20px;
        line-height: 30px;
        margin: 25px 15px 25px 15px;
        padding: 15px;
    }
    h1.tickets{
        background-color: rgb(167, 1, 1);
        color: white;
        font-size: 24px;
        margin-top: 25px;
    }
    p.mainTickets {
        font-size: 20px;
        margin: 20px 5px px 5px;
        font-weight: bold;
    }
    h3.tickets {
        font-size: 24px;
        border-bottom: 2px solid lightgrey;
        margin-top: 35px;
    }
    p.inner {
        font-size: 20px;
        font-weight: normal;
        padding: 5px 20px 5px 20px;
    }
    p.condMain {
        font-size: 20px;
    }
    h2.cond {
        font-size: 22px;
        border-bottom: 1px solid lightgrey;
    }   
    h4.price {
        font-size: 20px;
        line-height: 20px;
        margin: 10px 0px 0px 0px;
    }
}