body {
    padding: 20 px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#list {
    text-align: center;
}
h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    color: rgb(14, 89, 150)
}
p {
    font-size: 18px;
    margin: 10px;
}
form {
    text-align: center;
}
input[type="text"] {
    font-size: 16px;
    margin-top: 20px;
}
input[type="number"] {
    font-size: 16px;
}
input[type="checkbox"] {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-right: 15px;
}
img {
    height: 260px;
    width: auto;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}