* {
    margin: 0;
    padding: 0;
}
#root {
    margin: 0;
    padding: 0;
}
body {
    margin-bottom: 60px;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:light,regular,bold,italic|Lato:light,regular,bold,black,italic');

.MainDiv {
    margin-top: 65px;
    padding: 0;
}
#Navbar {
    display: flex;
    position: fixed;
    top: 0px;
    justify-content: space-evenly;
    height: 40px;
    background-color: black;
    line-height: 40px;
    width: 100vw;
    margin: 0;
    transition: top 0.6s;
    z-index: 1;
}
.Navbar-link {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', serif;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: .25px;
}
a.Navbar-link:hover {
    color: #806aaf;
}
.Navbar-link-active {
    color: #806aaf;
}
.Footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    font-family: 'Raleway', serif;
    height: 40px;
    width: 100vw;
    background-color: black;
    color: white;
    line-height: 40px;
    margin-bottom: 0px;
    font-size: 13px;
    letter-spacing: .25px;
}
.FooterDonate {
    font-family: 'Raleway', serif;
    display: flex;
    justify-content: space-around;
    height: 40px;
    color: white;
    line-height: 40px;
    font-size: 13px;
    letter-spacing: .25px;
}
a.FooterDonate:hover {
    color: #806aaf;
}
.FooterMapLink {
    color: white;
}
.FooterMapLink:hover {
    color: #806aaf;
}
.logo { 
    height: 25px;
    margin: 7.5px auto;
}
/* .logo-active {
    background-image: url('/images/cooper-hewitt-logo-purple.svg'); 
     z-index: 3; 
    background-color: #806aaf;
    padding-left: 15px;
    padding-left: 15px; 
} */
a {
    text-decoration: none;
}
.ExhibitionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin: 65px 25px 0px 25px;
}
.ExhibitDescription {
    margin: 15px 0px 10px 0px;
    font-family: 'Lato', serif;
    color: black;
    font-size: 12px;
    line-height: 1.4;
    display: block;
    display: -webkit-box;
    height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ExhibitDescriptionBack {
    margin: 5px 0px 3px 0px;
    font-family: 'Lato', serif;
    color: black;
    font-size: 13px;
    line-height: 1.33;
    display: block;
    display: -webkit-box;
    height: 35px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.CurrExhibTitle {
    font-family: 'Raleway', serif;
    text-align: center;
    color: #806aaf;
    padding: 5px 0px 5px 0px;
    font-size: 18px;  
    line-height: 1.4;  
    display: block;
    display: -webkit-box;
    height: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.CurrExhibTitleBack {
    font-family: 'Raleway', serif;
    text-align: center;
    color: #806aaf;
    padding: 10px 0px 0px 0px;
    font-size: 17px;  
    line-height: 1.4;  
    display: block;
    display: -webkit-box;
    height: 26px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.FlipBack{
    box-shadow: 2px 6px 8px rgba(63, 59, 66, 0.295);
    border: 2px solid #806aaf;
    background-color: white;
    text-align: center;
    padding: 5px 25px 15px 25px;
    height: auto;
    transition: 0.3s;
}
.FlipFront {
    background-color: #eeeeee;
    padding: 15px 25px 25px 25px;
    text-align: center;
    height: 100px;
    align-content: center;
    transition: 0.3s;
}
.ButtonDetailedInfo {
    padding: 5px 10px;
    background-color: #806aaf;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 12px;
}
.ExhibitionLink {
    color: #606060;
    font-size: 11px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; 
    max-width: 60%;
    text-overflow: ellipsis;
}
.ExhibitionList {
    cursor: pointer;
}
.text {
    margin: 0px;
}
.date {
    display: inline-block;
    font-family: 'Lato', serif;
    color: black;
    font-size: 13px;
    line-height: 1.6;
    margin-top: 5px;
}
.dateBack {
    display: inline-block;
    font-family: 'Lato', serif;
    color: black;
    font-size: 13px;
    line-height: 1.8;
}
.pricingHeader {
    font-family: 'Raleway', serif;

    color: black;
}
.price {
    font-family: 'Lato', serif;
    color: black;
}
.HomeContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 89%;
    gap: 15px;
    margin: 35px 40px;
}
.HomeHeaderAbout {
    font-family: 'Raleway', serif;
    color: black;
    display: flex;
    font-size: 24px;
}
.HomeDescriptionAbout {
    font-family: 'Lato', serif;
    color: black;
    font-size: 16px;
    line-height: 1.4;
}
.HomeHeaderAddress {
    font-family: 'Raleway', serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 24px;
}
.HomeDescriptionAddress {
    font-family: 'Lato', serif;
    color: black;
    font-size: 16px;
    line-height: 1.4;
}
.HomeHeaderTours {
    font-family: 'Raleway', serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 24px;
}
.HomeDescriptionTours {
    font-family: 'Lato', serif;
    color: black;
    font-size: 16px;
    line-height: 1.4;
}
.HomeHeaderShop {
    font-family: 'Raleway', serif;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 24px;
}
.HomeDescriptionShop {
    font-family: 'Lato', serif;
    color: black;
    font-size: 16px;
    line-height: 1.4;
}
.HomeHeaderPricing {
    font-family: 'Raleway', serif;
    color: black;
    margin-top: 20px;
    margin-bottom: -25px;
    font-size: 24px;
}
.HomeDescription {
    font-family: 'Lato', serif;
    color: black;
    font-size: 16px;
    line-height: 1.4;
}
.HomeImage {
    display: block;
    height: 300px;
    background-color: lightgrey;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
.HomeHR {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
.MapLink {
    color: black;
}
.MapLink:hover {
    color: #806aaf
}
th {
    padding: 10px 10px 10px 5px;
    font-family: 'Lato', serif;
    text-align: left;
    border-bottom: 1px solid black;
    color: #806aaf;
    font-size: 14px;
}
td {
    padding: 10px 0px 10px 5px;
    font-family: 'Lato', serif;
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 14px;
}
tr:hover {
    color: #806aaf
}
tr:nth-child(even) {
    background-color:#f2f2f2
}
.table {
    width: 100%;
}
.ExhibitionDetails {
    margin: 85px 25px 65px 25px;
    font-family: 'Lato', serif;
    background-color: whitesmoke;
    padding: 15px;
}
.DetailedTitle {
    color: #806aaf;
    font-family: 'Raleway', serif;
    font-size: 22px;
    margin: 0px 0px 14px 0px;
    text-align: center;
}
.DetailedDescription {
    line-height: 1.4;
    font-size: 14px;
    margin: 35px 25px 14px 25px;
    /* width: 80vw; */
    column-count: 2;
    column-rule: 1px solid #606060;
    column-gap: 50px;
    text-align: justify;
    text-justify: inter-word;
}
.DetailedLink {
    margin: 20px 0px 25px 25px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}
.DetailedLinkAtag {
    color: #606060;
}
.DetailedDate {
    margin: 25px 0px 5px 25px;
    color: #806aaf;
    font-size: 15px;
    text-align: center;
}
.DetailedHR {
    margin: 10px;
    width: 96%;
    height: 1px;
    background-color: black;
}
.RandomObject {
    margin-top: 75px;
}
.RandomObjectTitle {
    font-family: 'Raleway', serif;
    color: #806aaf;
    margin: 10px 25px;
    font-size: 24px;
    text-align: center;
}
.RandomID {
    font-family: 'Lato', serif;
    font-size: 13px;
    margin: 5px 0px 5px 25px;
    text-align: center;
}
.RandomObjectLink {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-style: italic;
    color: #606060;
    margin: 20px auto;
    text-align: center;
}
.RandLinktext {
    color: #606060;
}
.RandomDescription {
    font-family: 'Lato', serif;
    font-size: 15px;
    margin: 5px 25px 25px 25px;
    text-align: center;
    line-height: 1.3;
}
.RandomHR {
    margin: 10px;
    width: 91%
}
.EnlargedImage {
    text-align: center;
}
.RandomImages0 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.RandomImages1 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.RandomImages2 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.RandomImages3 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.SearchContainer {
    margin: 15px;
}
.SearchHeader {
    font-family: 'Raleway', serif;
    color: #806aaf;
    margin: 100px 25px 5px 25px;
    font-size: 24px;
    text-align: center;
}
.SearchSuggestions {
    font-family: 'Lato', serif;
    font-size: 15px;
    font-style: italic;
    color: #606060;
    margin: 40px 25px 10px 25px;
}
.SearchResults {
    font-family: 'Lato', serif;
    font-size: 15px;
    color: #806aaf;
    display: block;
    line-height: 1.5;
    border-bottom: 2px solid #606060;
    margin: 0px 25px;
    padding: 25px 0px;
}
.SearchForm {
    text-align: center;
}
.SearchButton {
    padding: 5px 10px;
    background-color: #806aaf;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
}
.SearchInput {
    height: 40px;
    width: auto;
    font-size: 13px;
    margin: 10px 25px 25px 25px;
    padding: 5px;
}
.SearchedObject {
    margin-top: 75px;
}
.SearchedTitle {
    font-family: 'Raleway', serif;
    color: #806aaf;
    margin: 10px 25px;
    font-size: 24px;
    text-align: center;
}
.SearchedID {
    font-family: 'Lato', serif;
    font-size: 13px;
    margin: 5px 0px 5px 25px;
    text-align: center;
}
.SearchedLink {
    font-family: 'Lato', serif;
    font-size: 14px;
    font-style: italic;
    color: #606060;
    margin: 20px auto;
    text-align: center;
}
.SearchedLinkText {
    color: #606060;
}
.SearchedDescription {
    font-family: 'Lato', serif;
    font-size: 15px;
    margin: 5px 0px 25px 25px;
    text-align: center;
    line-height: 1.3;
}
.SearchedHR {
    margin: 10px;
    width: 91%
}
.SearchedImages0 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.SearchedImages1 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.SearchedImages2 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.SearchedImages3 {
    padding: 5px;
    width: 400px;
    box-shadow: grey 4px 4px 10px;
}
.SpinnerDiv {
    position: relative;
}
.SpinnerSpan {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 75px;
    width: 9%;
}
@media screen and (min-width: 650px) {
    .ExhibitionContainer {
        display: grid;
        /* width: 100vw;  */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 25px;
        margin-top: 75px;
    }
    #Navbar {
        height: 50px;
        line-height: 50px;
    }
    .Navbar-link {
        font-size: 14px;
    }
    .logo {
        height: 30px;
        margin: 10px auto;
    }
    .HomeContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 3fr 30px 2fr 30px;
        row-gap: 40px;
        column-gap: 75px;
        width: 91%;
    }
    .HomeHR {
        display: none;
    }
    .HomeHeaderAbout {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 15px 0px 0px 0px;
    }
    .HomeDescriptionAbout {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: justify;
    }
    .HomeHeaderAddress {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 15px 0px 0px 0px;
    }
    .HomeDescriptionAddress {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: justify;
    }
    .HomeHeaderTours {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 15px 0px 0px 0px;
    }
    .HomeDescriptionTours {
        grid-column: 1/2;
        grid-row: 4/5;
        text-align: justify;
    }
    .HomeHeaderShop {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 15px 0px 0px 0px;
    }
    .HomeDescriptionShop {
        grid-column: 2/3;
        grid-row: 4/5;
        text-align: justify;
    }
    .HomeHeaderPricing {
        grid-column: 1/-1;
        grid-row: 5/6;
        margin: 35px 0px 0px 0px;
    }
    .HomeImage {
        height: 500px;
    }
    .PricingTable {
        grid-column: 1/3;
        grid-row: 6/7;
    }
    .DetailedTitle {
        font-size: 24px;
        margin: 0px 0px 14px 25px;
        text-align: center;
    }
    .DetailedDescription {
        line-height: 1.5;
        font-size: 15px;
        column-gap: 75px;  
        /* margin-left: 33px; */
    }
    .DetailedLink {
        color: #606060;
        margin: 20px 0px 25px 25px;
        font-size: 14px;
        font-style: italic;
        text-align: center;
    }
    .DetailedDate {
        margin: 45px 0px 5px 0px;
        color: #806aaf;
        font-size: 15px;
        text-align: center;
    }
    .DetailedHR {
        margin: 10px;
        width: 96%
    }
    .RandomObject {
        margin-top: 75px;
    }
    .RandomObjectTitle {
        margin: 10px 25px;
        font-size: 25px;
    }
    .RandomID {
        font-size: 15px;
        margin: 10px 0px 5px 25px;    
    }
    .RandomObjectLink {
        font-size: 16px;
        color: #606060;
    }
    .RandLinktext {
        color: #606060;
    }
    .RandomDescription {
        font-size: 16px;
        margin: 35px 0px 35px 25px;
        padding: 0px 55px;
        line-height: 1.4;
    }
    .RandomImages0 {
        width: 500px;
    }
    .RandomImages1 {
        width: 500px;
    }
    .RandomImages2 {
        width: 500px;
    }
    .RandomImages3 {
        width: 500px;
    }
    .RandomHR {
        width: 97%
    }
    .SearchHeader {
        font-size: 25px;
        margin-top: 100px;
    }
    .SearchSuggestions {
        font-size: 16px;
        color: #606060;
        margin: 40px 25px 10px 25px;
    }
    .SearchResults {
        font-size: 17px;
        border-bottom: 3px solid #606060;
    }
    .SearchObject {
        margin-top: 75px;
    }
    .SearchedtTitle {
        margin: 10px 25px;
        font-size: 25px;
    }
    .SearchedID {
        font-size: 15px;
        margin: 10px 0px 5px 25px;    
    }
    .SearchedLink {
        font-size: 16px;
        color: #606060;
    }
    .SearchedLinkText {
        color: #606060;
    }
    .SearchedDescription {
        font-size: 16px;
        margin: 35px 0px 35px 25px;
        padding: 0px 55px;
        line-height: 1.4;
    }
    .SearchedImages0 {
        width: 500px;
    }
    .SearchedImages1 {
        width: 500px;
    }
    .SearchedImages2 {
        width: 500px;
    }
    .SearchedImages3 {
        width: 500px;
    }
    .SearchedHR {
        width: 97%
    }
}

@media screen and (min-width: 1000px) {
    .ExhibitionContainer {
        display: grid;
        /* width: 92vw; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto; 
        gap: 35px; 
        margin-top: 85px;
    }
    .HomeContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 3fr 30px 2fr 30px;
        row-gap: 40px;
        column-gap: 75px;
        width: 93%;
    }
    #Navbar {
        height: 60px;
        line-height: 60px;
    }
    .Navbar-link {
        font-size: 15px;
    }
    .logo {
        height: 40px;
        margin: 10px auto;
    }
    .HomeHR {
        display: none;
    }
    .HomeImage {
        height: 650px;
        margin-top: 75px;
    }
    .DetailedTitle {
        font-size: 26px;
    }
    .DetailedDescription {
        line-height: 1.5;
        font-size: 17px;
        width: 87vw;
        column-gap: 75px;  
    }
    .DetailedLink {
        color: #606060;
        font-size: 16px;
    }
    .DetailedDate {
        margin: 45px 0px 5px 0px;
        font-size: 17px;
    }
    .DetailedHR {
        margin: 10px;
        width: 98%
    }
    .RandomObjectTitle {
        font-size: 26px;
    }
    .RandomID {
        font-size: 16px;
    }
    .RandomObjectLink {
        font-size: 16px;
    }
    .RandomDescription {
        font-size: 17px;
    }
    .RandomHR {
        width: 98%
    }
    .SearchHeader {
        font-size: 26px;
        margin-top: 100px;
    }
    .SearchSuggestions {
        font-size: 17px;
        margin: 50px 25px 10px 25px;
    }
    .SearchResults {
        font-size: 17px;
    }
    .SearchedTitle {
        font-size: 26px;
    }
    .SearchedID {
        font-size: 16px;
    }
    .SearchedLink {
        font-size: 16px;
    }
    .SearchedDescription {
        font-size: 17px;
    }
    .SearchedHR {
        width: 98%
    }
}