* {
    margin: 0;
    padding: 0;
}
body {
    margin-bottom: 70px;
}
.MainDiv {
    /* margin: 0; */
    /* padding: 0; */
    width: 100%;
}
.Navbar {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    background-color: black;
    line-height: 40px;
}

.Footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 40px;
    margin-bottom: 0px;
    font-size: 13px;
}
.logo { 
    height: 25px;
    margin: auto 25px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 13px;
    text-decoration: none;
}

.ExhibitDescription {
    margin: 15px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 13px;
}

.CurrExhibTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #806aaf;
    padding: 15px 0px;
    width: 100%;
    font-size: 16px;    
    margin-bottom: 5px;

}

.ExhibitionList {
    margin: 10px 0px 0px 25px;
    background-color: #dedede;
    padding: 0px 35px 20px 35px;
    z-index: 0;
    text-align: center;
    border-radius: 10px;
}
.ExhibitionList:hover {
    transition: all 0.2s ease-out;
    box-shadow: 2px 6px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 2px solid #cccccc;
    background-color: white;
    border-radius: 10px;
}
.ExhibitionList:hover > .CurrExhibTitle {
    color: white;
    background-color: #806aaf;
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
}

.ExhibitionList:hover > .date{
    color: #806aaf;
    font-size: 14.5px;
}

.ExhibitionList:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -20px;
    /* background: #00838d; */
    /* height: 32px;
    width: 32px; */
    border-radius: 32px;
    transform: scale(4);
    transform-origin: 50% 50%;
    transition: transform 0.2s ease-out;
}
.ExhibitionList:hover:before {
    transform: scale(2.5);
}

.ExhibitionLink {
    color: #606060;
    font-size: 12px;
}

.ExhibitionContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
}
.text {
    margin: 0px;
}
.date {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 10px;
}
.HomeHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.pricingHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.HomeContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
    /* box-shadow:  5px 5px 5px black; */
    margin: 10px 25px;
}
.HomeDescription {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.HomeImage{
    width: 90vw;
    margin: auto;
}
.HomeHeader {
    margin-top: 20px;
    margin-bottom: 0px;
}
th, td {
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    border-bottom: 1px solid black
}
tr:hover {
    color: #806aaf
}
tr:nth-child(even) {
    background-color:#f2f2f2
}
hr {
    width: 100%;
}
th {
    color: #806aaf
}
.ExhibitionDetails {
    margin: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.DetailedTitle {
    color: #806aaf;
    font-size: 22px;
    margin-bottom: 15px;
}
.DetailedDescription {
    line-height: 1.3;
    font-size: 14px;
    margin-top: 15px;
}
.DetailedLink {
    color: #606060;
    margin: 15px 0px;
}
.DetailedDate {
    margin: 25px 0px;
    text-align: center;
    color: #806aaf;

}

@media screen and (min-width: 650px) {
    .ExhibitionContainer {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 1000px) {
    .ExhibitionContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 15px;
    }
}
