* {
    margin: 0;
    padding: 0;
}
#root {
    margin: 0;
    padding: 0;
}
body {
    margin-bottom: 60px;
}
.MainDiv {
    margin: 0;
    padding: 0;
    
}
.Navbar {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    background-color: black;
    line-height: 40px;
    width: 100vw;
    margin: 0;
}
.Navbar-link {
    color: white;
}

a.Navbar-link :active {
    color: #806aaf;
}

.Footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 40px;
    width: 100vw;
    background-color: black;
    color: white;
    line-height: 40px;
    margin-bottom: 0px;
    font-size: 11px;
}
.logo { 
    height: 25px;
    margin: auto 25px;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.ExhibitionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 10px 25px 0px 25px;
 
}

.ExhibitDescription {
    margin: 15px 0px 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 12px;
    line-height: 1.4;
    display: block;
    display: -webkit-box;
    height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* min-width: 0; */
    text-overflow: ellipsis;
}

.CurrExhibTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #806aaf;
    padding: 10px 0px 5px 0px;
    font-size: 15px;    
    margin-bottom: 5px;
}

.ExhibitionList {
    background-color: #dedede;
    padding: 0px 15px 20px 15px;
    /* z-index: 0; */
    text-align: center;
    border-radius: 5px;
    /* margin: 10px 0px 0px 0px; */
    height: 130px;
    /* box-sizing: border-box; */
}

.ExhibitionList:hover {
    transition: all 0.2s ease-out;
    box-shadow: 2px 6px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 2px solid #cccccc;
    background-color: white;
    border-radius: 5px;
}
.ExhibitionList:hover > .CurrExhibTitle {
    color: white;
    background-color: #806aaf;
    font-size: 15px;
}

.ExhibitionList:hover > .date{
    color: #806aaf;
    /* font-size: 12px; */
}

.ExhibitionList:before {
    content: "";
    z-index: -1;
    top: -20px;
    right: -20px;
    border-radius: 32px;
    transform: scale(4);
    /* transform-origin: 50% 50%; */
    transition: transform 0.2s ease-out;
}
.ExhibitionList:hover:before {
    transform: scale(2.5);
}

.ExhibitionLink {
    color: #606060;
    font-size: 11px;
    display: inline-block;
    /* display: -webkit-box;
    height: 14px;
    -webkit-line-clamp: 1; */
    /* -webkit-box-orient: horizontal; */
    overflow: hidden;
    /* min-width: 0;*/
    white-space: nowrap; 
    /* overflow-wrap: break-all; */
    /* word-wrap: break-all; */
    max-width: 60%;
    text-overflow: ellipsis;
    /* box-sizing: border-box; */
}


.text {
    margin: 0px;
}
.date {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 11px;
    line-height: 1.8;
}
.HomeHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.pricingHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.HomeContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 90%;
    gap: 15px;
    margin: 10px 25px;
}
.HomeDescription {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.HomeImage{
    width: 90vw;
    margin: auto;
}
.HomeHeader {
    margin-top: 20px;
    margin-bottom: 0px;
}
th, td {
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    border-bottom: 1px solid black
}
tr:hover {
    color: #806aaf
}
tr:nth-child(even) {
    background-color:#f2f2f2
}
hr {
    width: 90%;
}
th {
    color: #806aaf
}
.table {
    width: 100%;
}
.ExhibitionDetails {
    margin: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.DetailedTitle {
    color: #806aaf;
    font-size: 22px;
    margin-bottom: 14px;
}
.DetailedDescription {
    line-height: 1.4;
    font-size: 14px;
    margin-top: 13px;
    width: 80vw;
}
.DetailedLink {
    color: #606060;
    margin: 15px 0px;
    font-size: 12px;
}
.DetailedDate {
    margin: 25px 0px;
    text-align: center;
    color: #806aaf;
    width: 80vw;
}
.SearchResults {
    color: black;
    display: block;
}

@media screen and (min-width: 650px) {
    .ExhibitionContainer {
        display: grid;
        /* width: 100vw;  */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 25px;
    }
    /* .MainDiv {
        width: 50vw;
    } */
    .Footer {
        /* width: 95vw; */
    }
}

@media screen and (min-width: 1000px) {
    .ExhibitionContainer {
        display: grid;
        /* width: 92vw; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto; 
        gap: 15px; 
    }
}
